@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Serif+Display&family=Jost&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@1,300;1,400&family=Roboto:ital,wght@0,100;1,300&family=Seymour+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Serif+Display&family=Jost&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@1,300;1,400&family=Roboto:ital,wght@0,100;1,300&family=Seymour+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Serif+Display&family=Jost&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@1,300;1,400&family=Roboto:ital,wght@0,100;1,300&family=Seymour+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  all: unset;
}
address,.link{
  cursor: pointer;
}

body {
  --buttonColor: rgba(255, 83, 0, 0.9);
  --colorRed: rgba(255, 83, 0, 1);
  --colorBlack: rgb(0, 0, 0);
  --colorWhite: rgb(255, 255, 255);
  --colorWhiteOne: rgb(255, 255, 255);
  --colorOrange: rgba(255, 247, 244, 1);
  --colorGrey: rgba(123, 123, 123, 1);
  --colorBlues: rgba(0, 172, 255, 1);
  --colorBlackBtn: rgba(55, 55, 55, 1);
  --colorBorderRed: rgba(255, 83, 0, 0.4);
  --colorBorderBlack: rgba(0, 0, 0, 0.1);
  --colorGreyTwo: rgba(123, 123, 123, 1);
  --bugroundFooter: rgba(55, 55, 55, 1);
  --colorVeryWhite: rgb(255, 255, 255);
  --colorShadowBlue: rgba(0, 194, 255, 0.4);
  --colorShadowBlack: rgba(0, 0, 0, 0.4);
  --colorShadowGrey: rgba(0, 0, 0, 0.4);
}
body.dark-theme {
  --colorBlack: rgb(255, 255, 255);
  --colorVeryWhite: rgb(255, 255, 255);
  --colorWhite: rgb(0, 0, 0);
  --colorWhiteOne: rgba(36, 37, 38, 1);
  --colorOrange: rgba(36, 37, 38, 1);
  --colorGrey: rgba(255, 255, 255, 1);
  --colorGreyTwo: rgba(123, 123, 123, 1);
  --bugroundFooter: rgba(55, 55, 55, 1);
}
html {
  scroll-behavior: smooth;
}
.red {
  color: var(--colorRed);
}

.black {
  color: var(--colorBlack);
}

.toggle path {
  fill: var(--colorBlack);
}

.toggle,
.line-menu {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.navigation {
    width: 100%;
    padding: 0 11%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 10px 0px var(--colorBorderBlack);
}

.line-menu {
  display: none;
}

.logo {
  display: inline-flex;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.menu-list {
  display: flex;
  gap: 38px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  color: var(--colorBlack);
}
.menu-list_item{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
cursor: pointer;
}