@import "./variable";
@import "./bodyToggle";


@media (max-width: 480px) {

     body {
        background-color: var(--colorWhite);
      }
    
      a:focus {
        content: "";
        color: var(--colorRed);
      }
    
      .icons__logos a:focus {
        border: 2px solid black;
      }
    
      .button {
        border: none;
        padding: 10px 22px 10px 22px;
        background-color: var(--buttonColor);
        border-radius: 5px;
        color: var(--colorWhite);
        font-family: $buttonFontText;
        line-height: $lineHeigthXS;
        font-size: $fontSizeXS;
        box-shadow: 4px 5px 15px 0px var(--colorBorderRed);
      }
    
      .toggle path {
        fill: var(--colorBlack);
        width: 24px;
        height: 24px;
      }
      .toggle,
      .line-menu {
        @include button-reset;
      }
    
      .red {
        color: var(--colorRed);
      }
    
      .black {
        color: var(--colorBlack);
      }
    
      .white {
        color: var(--colorWhite);
      }
    
    .center{
        padding: 0 3% 0 3%;
    }
    
      .navigation {
        padding:28px;
        height: 50px;
        width: 100%;
        @include flex(space-between,center);
        box-shadow: 0px 1px 10px 0px var(--colorBorderBlack);
      }
    
      .line-menu{
        display: contents;
        fill: var(--colorBlack);
      }
    

      .logo {
        display: inline-flex;
        font-family: $fontText;
        font-size: $fontSizeXS;
        font-weight: $fontWeight600;
        line-height: $lineHeigthXS;
        text-align: center;
      }
    
      .menu-list {
        display: none;
       
      }
    
      .banner {
        background-color: var(--colorOrange);
      }
    
      .heading {
        font-family: $fontText;
        font-size: $fontSizeS;
        font-weight: $fontWeight500;
        line-height: $lineHeigthS;
        text-align: center;
    
        &__title-banner {
          font-size: $fontSizeL;
          font-weight: $fontWeight600;
          line-height: $lineHeigthL;
          font-family: $buttonFontText;
          text-align: center;
        }
      }
    
      .paragraph {
        font-family: $fontText;
        font-size: $fontSizeXXS;
        font-weight: $fontWeight400;
        line-height: $lineHeigthXS;
        text-align: center;
        color: var(--colorGrey);
        padding-top: 15px;
        @include maxLines(4);
        }
    
        .banner-paragraph {
            margin-top: 10px;
            margin-bottom: 50px;
          text-align: center;
          }
    
      .banner-paragraph,.about-us__paragraph {
    
       @include maxLines(3);
      
      }
    
      .container {
        padding-top: 50px;
        display: flex;
        flex-direction: column-reverse;
             
      }
      .revers{
        display: flex;
        flex-direction: column;
      }
    
      .content {
        @include flex(center, center);
        flex-direction: column;
        padding-top: 73px;
        padding-bottom: 73px;
        
      }
    
      .image-content {
        width: 100%;
        padding-bottom: 50px;
      }
    
      .icons {
      display: none;
      }
    
      .title-section {
        text-align: center;
        font-family: $fontText;
        font-size: $fontSizeXXS;
        font-weight: $fontWeight400;
        line-height: $lineHeigthXS;
        color: var(--colorGrey);
      }
    
      .position {
        &__title {
          padding-bottom: 25px;
        }
    
        &__heading {
          padding-bottom: 18px;
          text-align: center;
        }
    
        &__btn {
          margin-top: 50px;
          
        }
      }
    
      .cards-section {
        
        @include flex(center, center);
        flex-direction: column-reverse;
        gap: 10px;
        
      }
    
      .card {
        @include flex(center, center);
        flex-direction: column;
        box-shadow: 0px 1px 10px 0px var(--colorBorderBlack);
        background-color: var(--colorWhiteOne);
        padding-top: 25px;
      }
    
      .round-btn {
        @include button-reset;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        flex-shrink: 0;
      }
      .icons-contact{
        width: 18px;
        height: 18px;
      }
    
      .text {
        font-family: $fontText;
        font-size: $fontSizeXXS;
        font-weight: $fontWeight400;
        line-height: $lineHeigthXS;
        text-align: center;
        padding-top: 35px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        color: var(--colorBlack);
      }
      .text-num {
    
          font-family: $fontText;
          font-size: $fontSizeXXS;
          font-weight: $fontWeight400;
          line-height: $fontSizeXS;
          text-align: center;
          color: var(--colorGrey); 
          padding-top: 10px;
      }
    
      .reds {
        background-color: var(--colorRed);
        box-shadow: 4px 5px 15px 0px var(--colorBorderRed);
      }
    
      .greys {
        background-color: var(--colorGreyTwo);
        box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.4);
      }
    
      .blues {
        background-color: var(--colorBlues);
        box-shadow: 4px 5px 15px 0px rgba(0, 194, 255, 0.4);
      }
    
      .blacks {
        background-color: var(--colorBlackBtn);
        box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.4);
      }
      .about-us {
        background-color: var(--colorWhite);
      }
    
      .cards-section {
        margin-top: 1px;
        margin-bottom: 80px;
      }
    
      .our-experince {
        background-color: var(--colorOrange);
        padding-top: 60px;
        padding-bottom: 60px;
      }
    
      .our-experince__cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 25px;
       
      }
    
      .cards {
        background-color: var(--colorWhite);
        padding: 10px;
        @include flex(center, center);
        flex-direction: column;
        box-shadow: 0px 1px 10px 0px var(--colorBorderBlack);
        background-color: var(--colorWhite);
        height:250px;
        width:100%;
      }
    
      
    
      .card-name-number {
        font-family: $fontText;
        font-size: $fontSizeXL;
        font-weight: $fontWeight700;
        line-height: $lineHeigthXL;
        color: var(--colorBlack);
    
      }
    
      .team-member {
        @include flex(center, center);
        flex-direction: column;
        padding-bottom: 74px;
        padding-top: 74px;
        background-color: var(--colorWhite);
      }
    
      .team-cards {
        display: flex;
        gap: 5px;
        padding-top: 50px;
        padding-left: 3%;
        padding-right: 3%;
        overflow-y: auto;
        max-width: 100%;
        scrollbar-width: none;
      
    
        &_card {
        width: auto;
       
          box-shadow: 0px 1px 10px 0px var(--colorBorderBlack);
          background-color: var(--colorWhiteOne);
        }

       
        .team-cards::-webkit-scrollbar {
          width: 0; /* Ширина полосы прокрутки */
      }}
    
      .fio {
        font-family: $fontText;
        font-size: $fontSizeXS;
        font-weight: $fontWeight500;
        line-height: $lineHeigthXS;
        text-align: center;
        color: var(--colorBlack);
      }
    
      .our-work {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 120px;
        background-color: var(--colorWhite);
        &_menu{
          width: 100%;
        }
      }
    
      .works {
      padding-left: 3%;
      padding-right: 3%;
      width: 96%;
      display: flex;
      flex-direction: column;
      
    
      
    
      }
    
      .work-menu {
        padding-left: 20%;
        padding-right: 5%;
        margin-bottom: 60px;
        @include flex(space-between, center);
        gap: 43px;
        max-width: 370px;
        overflow-y: auto;
      }
    
      .menu__btn {
        @include button-reset;
        font-family: $fontText;
        font-size: $fontSizeXS;
        font-weight: $fontWeight500;
        line-height: $lineHeigthXS;
        color: var(--colorGrey);
        text-wrap: nowrap;


      }
    
      .menu__btn_active {
        @include button-reset;
        font-family: $fontText;
        font-size: $fontSizeXS;
        font-weight: $fontWeight500;
        line-height: $lineHeigthXS;
        color: var(--colorRed);
      }
    
      .clients-feedback,
      .our-blog,
      .contact-us {
        @include flex;
        flex-direction: column;
        background-color: var(--colorWhite);
      }
      .feedback-container{
        padding-left:3% ;
        padding-right:3% ;
        width: 100%;
      }
    
      
      .clients-feedback {
       
        background-color: var(--colorOrange);
        padding-top: 60px;
        padding-bottom: 60px;
        margin-bottom: 120px;
      }
    
      .feedback-wrapper__slide {
        display: flex;
        gap: 18px;
        overflow-y: auto;
        max-width: 100%;
        padding-left: 15%;
      }
    
    
      .card__client {
        flex-shrink: 0;
        width: 226px;
        padding-bottom: 25px;
        margin-right: 35px;
        background-color: var(--colorRed);
        color: var(--colorWhite);
        padding-left: 5%;
        padding-right: 5px;
        position: relative;
      }
    
      .name-famili {
        padding-top: 34px;
        padding-bottom: 7px;
        font-family: $fontText;
        font-size: $fontSizeS;
        font-weight: $fontWeight500;
        line-height: $lineHeigthS;
        color: var(--colorVeryWhite);
      }
    
      .profession {
        padding-bottom: 25px;
        font-family: $fontText;
        font-size: $fontSizeXXS;
        font-weight: $fontWeight400;
        line-height: $lineHeigthXS;
        color: var(--colorVeryWhite);
      }
    
      .card-text {
        font-family: $fontText;
        font-size: $fontSizeXXS;
        font-weight: $fontWeight400;
        line-height: $lineHeigthXS;
        color: var(--colorVeryWhite);
       @include maxLines(3);
        padding-right: 3%;
      }
    
      .img-card {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: -25px;
        transform: translateY(-120%);
        max-width: 100px;
      }
    
      .pagination {
        margin-top: 50px;
      }
    
      .btn__pagination {
        @include button-reset;
      }
    
      .feedback-wrapper {
        margin-top: 42px;
      }
    
      .our-blog {
        margin-bottom: 120px;
      }
    
      .img-slides{
        width: 30%;
      }
      .img-slide{
      
      width: 100%;
      height: auto;
      }
    
      .our-blog-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        &__slide {
           display: flex;
          gap: 10px;
          overflow-y:auto ;
        max-width: 376px;
    padding-left: 20%;
        }
      }
     
    
      .slide__card {
       
        background-color: var(--colorWhiteOne);
        box-shadow: 0px 1px 10px 0px var(--colorBorderBlack);
        padding: 18px;
      }
    
      .card_content {
        display: flex;
        flex-direction: column;
        width:67%;
      }
    
      .profession {
        font-family: $fontText;
        font-size: $fontSizeXXS;
        font-weight: $fontWeight400;
        line-height: $lineHeigthXS;
        color: var(--colorRed);
      }
    
      .other-card {
        font-family: $fontText;
        font-size: $fontSizeXS;
        font-weight: $fontWeight500;
        line-height: $lineHeigthXS;
        color: var(--colorBlack);
      }
    
      .card__author {
        @include flex(start);
        gap: 10px;
        padding-top: 29px;
        color: var(--colorGreyTwo);
        font-family: $fontText;
      }
    
      .author-name {
        font-family: $fontText;
        font-size: $fontSizeS;
        font-weight: $fontWeight500;
        line-height: $lineHeigthS;
        color: var(--colorBlack);
      }
    
      .date {
        font-family: $fontText;
        font-size: $fontSizeXXS;
        font-weight: $fontWeight400;
        line-height: $lineHeigthXS;
        color: var(--colorGreyTwo);
      }
    
      .contact-cards {
      display: flex;
      flex-direction: column;
        gap: 25px;
      }
    
      .contact-card {
        padding: 18px;
        box-shadow: 0px 1px 10px 0px var(--colorBorderBlack);
        background-color: var(--colorWhiteOne);
    
        &__content {
          display: flex;
          flex-direction: column;
        }
        &__title {
          color: var(--colorBlack);
        }
      }
      .img-form{
        width:100%;
        height: auto;
      }
      .forms{
        display: flex;
        flex-direction: column;
        }
    
      .contact-cards__text {
        display: flex;
      }
    
      .position-columns {
        display: flex;
        gap: 18px;
      }
    
      .contact-cards__text {
        display: flex;
        flex-direction: column;
        padding-bottom: 38px;
        font-family: $fontText;
        font-size: $fontSizeS;
        font-weight: $fontWeight500;
        line-height: $lineHeigthM;

      }
    
      .text-grey {
        font-family: $fontText;
        font-size: $fontSizeXS;
        font-weight: $fontWeight500;
        line-height: $lineHeigthXS;
        color: var(--colorGrey);
      }
    
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .title-form {
        font-family: $fontText;
        font-size: $fontSizeM;
        font-weight: $fontWeight600;
        line-height: $lineHeigthM;
        text-align: center;
      }
    
      .client-form {
        padding-top: 18px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-gap: 20px 15px;
      }
    
      .client-form input,
      .client-form textarea {
        box-shadow: 0px 1px 10px 0px var(--colorBorderBlack);
        border: none;
        padding-left: 18px;
        padding-top: 18px;
        padding-bottom: 18px;
        max-width: 100%;
      }
    
      .client-form input {
        height: 60px;
        background-color: var(--colorWhiteOne);
      }
    
      .client-form textarea {
        grid-column: span 2;
        height: 163px;
        resize: none;
        background-color: var(--colorWhiteOne);
      }
    
      .maps {
        width: 90%;
        margin-top: 60px;
        margin-bottom: 50px;
      }
    
      .logos {
       @include flex(space-between);
        gap: 29px;
        margin-bottom: 50px;
      }
      .img-logo{
        width: 15%;
        height: 20%;
      }
    
     .footer-input{
        height: 40px;
        width: 30%;
     }
      .footer_black {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: var(--bugroundFooter);
        display: flex;
        flex-direction: column;
        
        gap: 37px;
        color: var(--colorVeryWhite);
      }
    
      .footer_red {
        background-color: var(--colorRed);
        padding: 18px;
        font-family: $fontText;
        font-size: $fontSizeXXS;
        font-weight: $fontWeight600;
        line-height: $lineHeigthXS;
      }
    
      .footer-column {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
    
      .footer-heading {
        color: $colorWhite;
      }
     
    
      .text-white {
        color: var(--colorVeryWhite);
        font-family: $fontText;
        font-size: $fontSizeXXS;
        font-weight: $fontWeight400;
        line-height: $lineHeigthXS;
       @include maxLines(3);
        
    }
    
      .input-button-container {
        margin-top: 25px;
        display: flex;
        border-radius: 4px;
        height: 60px;
      }
    
      .input-button-container input {
        flex-grow: 1;
        border: none;
        padding: 5px;
        outline: none;
        border: 1px solid var(--colorRed);
        background-color: transparent;
      }
      .input-button-container input:focus {
        border: 1px solid var(--colorWhite);
      }
    
      .input-button-container button {
        background-color: var(--colorRed);
        border: none;
        padding: 5px;
        cursor: pointer;
        width: 35px;
        height: 40px;
      }

    
}